@page "/DeleteCategorias"
@page "/DeleteCategorias/categoriaId={categoriaId:int}"
@using global::SistemaVentas.Models.Models
@using global::SistemaVentas.Services.Services
@* @inject HttpClient httpClient *@
@rendermode InteractiveAuto
@inject NavigationManager navigation
@inject CategoriasService categoriasService

<PageTitle>Eliminar Categoria</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Eliminar Categoria</strong></h3>
		</div>
		@*Cuerpo*@
		<div class="card-body">
			<h3><strong>¿Est&aacute;s seguro de que quieres eliminar esta categoria?</strong></h3>
			@*Datos*@
			<ul>
				<li><strong>CategoriaId:</strong> @categoria.CategoriaId</li>
				<li><strong>FechaCreacion:</strong> @categoria.FechaCreacion.ToShortDateString()</li>
				<li><strong>Descripci&oacute;n:</strong> @categoria.Descripcion</li>
			</ul>
		</div>
		@*Footer*@
		<div class="card-footer d-flex justify-content-center">
			<div class="px-2">
				<button type="button" class="btn btn-outline-dark" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Cancelar</button>
			</div>
			<button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-trash3-fill" /> Eliminar</button>
		</div>
	</div>
</div>
@mensaje

@code {
	[Parameter]
	public int categoriaId { get; set; }
	public Categorias categoria { get; set; } = new Categorias();
	public string mensaje { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);

		categoria = await categoriasService.GetCategoria(categoriaId);
	}

	public async Task Eliminar()
	{
		// if (!await ValidarTicket())
		// {
		// 	return;
		// }
		// else
		// {
		// 	var response = await httpClient.PostAsJsonAsync("api/Tickets", proveedor);
		// 	if (response.IsSuccessStatusCode)
		// 	{
		// 		mensaje = "Se guardo el ticket";
		// 		StateHasChanged();
		// 		await Task.Delay(2000);
		// 		Volver();
		// 	}
		// 	else
		// 	{
		// 		mensaje = "No se guardo el ticket";
		// 	}
		// }

		mensaje = "Se creo";
	}

	void Volver()
	{
		navigation.NavigateTo("/Categorias");
	}
}
